
:local .fabWrapper {
  bottom: 0;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  position: fixed;
  right: 0;
  z-index: 10;
}

:local .tableWrapper {
  width: 100%;
  margin-top: 4rem;
  overflow-y: auto;
}

:local .toolbarModalButtonsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

:local .cardOptionsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}

:local .cardVisibleLabel {
  margin: 0;
}

:local .cardOptionsItem {
  margin: .5rem;
  margin-bottom: 0;
}

:local .helpWrapper {
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

:local .helpContainer {
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
}

:local .helpListItem {
  line-height: 1.8rem;
}

:local .cardDetailContainer {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, auto);
  justify-items: stretch;
  align-items: stretch;
}

:local .wrapperCardHelp {
  grid-column: 1;
  grid-column-end: 3;
  grid-row: 1;
  grid-row-end: 3;
}

:local .wrapperCardOptions {
  grid-column: 3;
  grid-column-end: 7;
  grid-row: 1;
  grid-row-end: 2;
  align-self: flex-end;
}

:local .wrapperCardItem {
  grid-column: 1;
  grid-column-end: 3;
  grid-row: 3;
  grid-row-end: 4;
  position: relative;
}

:local .wrapperEditor {
  grid-column: 3;
  grid-column-end: 7;
  grid-row: 2;
  grid-row-end: 4;
}

:local .wrapperHowToButton {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
}

@media (max-width: 68.75rem) {
  :local .wrapperCardHelp {
    grid-column: 1;
    grid-column-end: 4;
    grid-row: 1;
    grid-row-end: 2;
  }

  :local .wrapperCardOptions {
    grid-column: 1;
    grid-column-end: 7;
    grid-row: 2;
    grid-row-end: 3;
  }

  :local .wrapperCardItem {
    grid-column: 4;
    grid-column-end: 7;
    grid-row: 1;
    grid-row-end: 2;
  }

  :local .wrapperEditor {
    grid-column: 1;
    grid-column-end: 7;
    grid-row: 3;
    grid-row-end: 4;
  }

  :local .cardOptionsContainer {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
  }

}

@media (max-width: 38.75rem) {
  :local .wrapperCardHelp {
    grid-column: 1;
    grid-column-end: 7;
    grid-row: 1;
    grid-row-end: 2;
  }
  
  :local .wrapperCardItem {
    grid-column: 1;
    grid-column-end: 7;
    grid-row: 2;
    grid-row-end: 3;
  }

  :local .wrapperCardOptions {
    grid-column: 1;
    grid-column-end: 7;
    grid-row: 3;
    grid-row-end: 4;
  }


  :local .wrapperEditor {
    grid-column: 1;
    grid-column-end: 7;
    grid-row: 4;
    grid-row-end: 5;
  }

  :local .cardOptionsContainer {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
  }
  :local .cardOptionsItem:first-child {
    margin-top: 0;
  }

  :local .cardOptionsItem {
    margin-bottom: .5rem;
  }

  :local .cardOptionsItem:last-child {
    margin-bottom: 0;
  }
}