:local .cardDetailContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
  width: 100%;
}

:local .cardItemWrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 1rem;
  min-width: 16.75rem;
  width: calc(30% - 32px);
}

:local .editorWrapper {
  margin: 0 1rem;
  width: calc(70% - 32px);
}

:local .buttonWrapper {
  margin-right: 1rem;
  margin-top: 1rem;
  text-align: right;
  width: calc(100% - 16px);
}

:local .cardTagWrapper {
  margin: 1rem 0;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

:local .helpWrapper {
  font-size: .8rem;
  margin-bottom: 1rem;
  max-width: 22.3875rem;
}

:local .helpContainer {
  padding: 1rem;
  box-sizing: border-box;
  max-width: 22.3875rem;
}

:local .helpListItem {
  margin-top: .5rem;
}

:local .helpListItem:first-child {
  margin-top: 0;
}

:local .helpLabel {
  margin: 0;
}

:local .cardVisibleLabel {
  margin: 0;
  margin-bottom: .5rem;
  width: 100%;
}

:local .cardItemWrapperItem {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

:local .selectWrapper {
  width: 100%;
}

@media (max-width: 62.5rem) {
  :local .cardItemWrapper {
    width: calc(100% - 32px);
  }

  :local .editorWrapper {
    width: calc(100% - 33px);
    margin-top: 1rem;
  }
}

